# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vcxproj.filters

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider / JetBrains
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
